.register-to-program__form,
.contact__form {
  input,
  textarea,
  select,
  .react-tel-input input,
  .react-tel-input .form-control {
    border: none;
    padding: 10px 20px;
    text-overflow: ellipsis;
  }
  .react-tel-input {
    font-family: inherit;

    input,
    .form-control {
      padding-left: 54px;
      font-size: 1rem;
      border: none;
      width: 100%;
    }
    .flag-dropdown {
      &,
      &.open,
      .open,
      .selected-flag {
        // border-radius: 0.5rem 0 0 0.5rem !important;
      }
      .country-list {
        text-align: left;
      }
    }
  }
  .is-invalid .react-tel-input ~ .invalid-feedback {
    display: block;
  }
}
