.register-to-program__form,
.contact__form {
  input,
  textarea,
  select,
  .react-tel-input input,
  .react-tel-input .form-control {
    padding: 10px 20px;
    text-overflow: ellipsis;
  }
  .react-tel-input {
    font-family: inherit;

    input,
    .form-control {
      padding-left: 54px;
      font-size: 1rem;
      width: 100%;
      border-width: 2px;
    }
    .flag-dropdown {
      &,
      &.open,
      .open,
      .selected-flag {
        // border-radius: 0.5rem 0 0 0.5rem !important;
      }
      .country-list {
        text-align: left;
      }
    }
  }
  .is-invalid .react-tel-input ~ .invalid-feedback {
    display: block;
  }
}

.form-control,
input,
input[type="text"],
input[type="number"] {
  font-size: 14px;
  border-radius: 8px;
  border-width: 2px;
  border-style: solid;
  padding: 0 20px;
  line-height: 46px;
  font-weight: 500;
  letter-spacing: 0.04em;
}
