@use "sass:map";

$theme-colors: (
  "primary": #384074,
  "secondary": #ffffff,
  "success": #22e11c,
  "info": #d9ff50,
  "warning": #ffbe0b,
  "danger": #ff0000,
  "light": #ffffff,
  "dark": #000103,
);

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$border-radius: 0;

$breadcrumb-divider: "\f285";

@import "mixins";
@import "bootstrap/scss/bootstrap.scss";

// Partials
@import "animate";
@import "navigation";
@import "footer";
@import "page-header";
@import "programmes";
@import "article";
@import "projet";
@import "service";
@import "contact";
@import "loader";
@import "forms";

// Sections
@import "sections/slider";
@import "sections/faq";

// * {
//     outline: 1px red dotted;
// }

body {
  font-family: var(--font-montserrat);
  background-color: #fefffb;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-vidaloka);
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
  text-decoration: none;
}

h1 {
  letter-spacing: 2px;
  text-transform: uppercase;
}

p {
  line-height: 1.86;
  letter-spacing: 0.04em;
}

p,
span,
ul,
li,
ol,
a,
button,
input {
  letter-spacing: 0.04em;
}

.subtitle {
  text-transform: uppercase;
}

.h1 {
  font-size: 50px;

  @include media-breakpoint-up(sm) {
    font-size: 72px;
  }
}

.page__title {
  font-size: 50px;
  text-transform: uppercase;
  margin-bottom: 8px;
  line-height: 1.3;
  text-align: center;

  @include media-breakpoint-up(sm) {
    font-size: 72px;
  }
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.btn {
  font-size: 14px;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  padding: 0 20px;
  line-height: 46px;
  font-weight: 500;
  letter-spacing: 0.04em;
}
.btn-primary {
  border-color: map.get($theme-colors, "primary");
  color: map.get($theme-colors, "light");
}

.form-control {
  // border-radius: 1.75rem;
}

// * {
//   outline: 1px red dotted;
// }

.vidaloka {
  font-family: var(--font-vidaloka);
}
